common: &common
  # Set a random string here
  secret_key: {{ secret_key }}
  standalone: true
  search_backend: sqlalchemy
  sqlalchemy_index_database: sqlite:///{{ storage_path }}/docker-registry.db

prod:
  <<: *common
  storage: {{ storage_type }}
{% if storage_type == 's3' %}
{% if s3_region is defined %}
  s3_region: {{ s3_region }}
{% endif %}
  s3_bucket: {{ s3_bucket }}
  boto_bucket: {{ s3_bucket }}
  storage_path: {{ s3_storage_path }}
  s3_access_key: {{ s3_access_key }}
  s3_secret_key: {{ s3_secret_key }}
{% else %}
  storage_path: {{ storage_path }}
{% endif %}
  loglevel: {{ log_level }}
{% if manage_redis %}
  # Enabling LRU cache for small files. This speeds up read/write on
  # small files when using a remote storage backend (like S3).
  cache:
    host: localhost
    port: 6379
    db: 0
  cache_lru:
    host: localhost
    port: 6379
    db: 0
{% endif %}
