upstream docker-registry {
  server localhost:5000;
}

server {
  listen 443;
  ssl on;
  ssl_certificate /etc/ssl/certs/docker-registry;
  ssl_certificate_key /etc/ssl/private/docker-registry;
  {% if domain != 'localhost' %}
  server_name {{ domain }};
  {% endif %}
  proxy_set_header Host $http_host;
  # required for docker client's sake
  proxy_set_header X-Real-IP $remote_addr;
  # pass on real client's IP
  proxy_set_header Authorization "";
  # see https://github.com/dotcloud/docker-registry/issues/170
  client_max_body_size 0;
  # disable any limits to avoid HTTP 413 for large image uploads
  # required to avoid HTTP 411: see Issue #1486 (https://github.com/dotcloud/docker/issues/1486)
  chunkin on;

  error_page 411 = @my_411_error;
  location @my_411_error {
    chunkin_resume;
  }

  location / {
    proxy_pass http://docker-registry;
    proxy_set_header Host $host;
    proxy_read_timeout 900;
  }

  location /_ping {
    auth_basic off;
    proxy_pass http://docker-registry;
  }

  location /v1/_ping {
    auth_basic off;
    proxy_pass http://docker-registry;
  }
}
